*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto, 'san-serif';
    overflow-x: hidden;

}
a{
    text-decoration: none;
}

/**** HEADINGS ****/
.heading{
    font-size: 60px;
    color: #007BFF;
    font-weight: 500;
    text-transform: uppercase;
    padding: 40px 0 30px!important;
}


/**** BUTTONS ****/
.btn-login{
    background-color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
    transition: .3s all ease-in-out;
}
.btn-login:hover{
    background-color: rgba(255,255,255,1);
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 7px;
}

.btn-basic{
    padding:8px 30px;
    font-size:18px;
    letter-spacing:1px;
    border-radius: 5px;
    background-color:#EBE8D2;
    color:#17171A;
    border: solid 1px #EBE8D2;
    transition: .3s all ease-in-out;
}
.btn-basic-dark{
    background-color:#17171A;
    color:#EBE8D2;
    transition: .3s all ease-in-out;
}
.btn-basic:hover,.btn-basic:active,.btn-basic:focus{
    background-color: #F35F5F;
    color: #17171A;
    border: solid 1px #F35F5F;
}
.btn-basic:disabled,
.btn-basic[disabled]{
    background-color: #CCC;
    color: #17171A;
    border: solid 1px #CCC;
}
.btn-semiblock{
    padding: 15px 80px!important;
    margin: 0 20px;
}
.btn-logout{
    position: absolute;
    right: 40px;
    border: 1px solid #007BFF;
    color: #007BFF;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #EFEFEF!important;
    transition: .3s all ease-in-out;
    margin: 0px;
  
}
.btn-logout:hover{
    color:#fff; 
    background-color: #007BFF!important;
    border: 2px solid #007BFF;
}

.btn-submit{
    background-color: #FFF;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 1px;
    padding: 6px 50px;
    margin-top: 20px;
    transition: .3s all ease-in-out;
}
.btn-submit:hover{
    background-color: #007BFF;
    color: #FFF;
    border: 2px solid #007BFF;
}

.btn-ship{
    background-color: #007BFF;
    color: #FFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 1px;
    padding: 4px 30px;
    transition: .3s all ease-in-out;
}

.btn-back{
    background-color: #FFF;
    color: #f71138;
    border: 2px solid #f71138;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 1px;
    padding: 6px 60px;
    margin-top: 20px;
    transition: .3s all ease-in-out;
}
.btn-back:hover{
    background-color: #f71138;
    color: #FFF;
    border: 2px solid #f71138;
}

.btn-delete,
.btn-delete:hover{
    background-color: #f71138;
    border: 2px solid #f71138;
}

/**** NAVBAR ****/

/*
.navbar{
    background: #007bff;
    color: #fff;
    position: sticky;
    top: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-links{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar .navbar-links li a{
    color: #fff;
    margin: 0 .25rem;
    padding: .75rem;
    border-radius: 5px;
}

.navbar-links li{
    font-size: 18px;
}
*/
/*
.left-panel{
    background: rgb(211,211,211);
    color: #007bff;
    position: fixed;
    top: 58px;
    left: 0px;
    width: 300px;
    height: 100%;
    align-items: center;
}

.left-panel h2{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.left-panel ul li{
    padding-top: 20px;
    padding-left: 50px;
}

.left-panel .panel-links a{
    color: #007bff;
    font-size: 20px;
}

.left-panel .category li{
    padding-left: 80px;
}

.main-panel{
   padding-left: 400px;
    padding-top: 50px;
    padding-right: 90px;
    color: #007bff;
    font-size: 20px;
}
*/
.main-panel .sub-btn{
    background: #007bff;
    background: linear-gradient(rgb(16, 76, 241), rgb(62, 192, 231));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px #999;
    text-decoration: none;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.6);       
} 

.sub-btn:hover{
    border-color: #555;
    cursor: pointer;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.9);
    background: #007bff;
    background: linear-gradient(to top, rgb(62, 192, 231), rgb(128, 140, 173));
}

.table{
    padding-left: 400px;
    padding-top: 50px;
    padding-right: 90px;
}

table, th, td{
    padding: 10px;
    border: 2px solid #007bff;
    border-collapse: collapse;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.table i:hover{
    cursor: pointer;
}

button{
    margin: 5px;
}
container{
    width: 100px;
    margin-left: 10px;
}
    

    


/**** Admindashboard ****/

#admindashboard{
    background-color: #007BFF;
    color: #FFF;
    height: 92.5vh;
    text-align: center;   
}
#admindashboard .btn-login{
    background-color: rgba(255,255,255,0);
    border: solid 2px;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: 60px 0;
    transition: .3s all ease-in-out;
}
#admindashboard .btn-login:hover{
    background-color: rgba(255,255,255,0.9);
    color: #007BFF;
    border: solid 2px;
    border-radius: 7px;
}

#admindashboard p{
    color: #FFF;
    margin: 70px 0;
    font-size: 28px;
    font-weight: 300;
} 


/**** SignUp ****/
.signin-signup-link a:hover{
    color: #007BFF;
}



/**** Add Category/Product ****/
.mainpanel{
    margin: 40px 0px 50px;
}
.formheading h3{
    font-size: 35px;
}
.formheading h3 #formicon{
    margin-right: 20px!important;
}
.mainpanel-form .formlabel{
    font-size: 20px;
    color: #007BFF;
}
.mainpanel-form input[type="text"],
.mainpanel-form input[type="file"],
.form-textarea{
    font-size: 18px;
    color: #424242;
}


select{
    font-size: 18px;
    padding: 5px 40px;
    color: #424242;
}
/**** Add Product ****/
/* Progress-Loader */
.overlay{
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: -788px;
    left: 0;
  //height: 120%;
    padding: 29.3% 46%;
    z-index: 9999;

}

.loader {
  border: 13px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid #007BFF;
  width: 70px;
  height: 70px;
  margin: 50px 0 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/**** Manage Category/Product ****/
.mainpanel-table{
    text-align: center;
}


/**** Order Details ****/
#rupeeicon{
    font-size: 14px!important;
    color: #424242;
    font-weight: 300;
}














/**************************
        MOBILE
**************************/


@media (max-width: 990px) and (min-width: 300px){
    /**** Admindashboard ****/
    #admindashboard{
        height: 100%;
    }
    #admindashboard .btn-login{
        font-size: 17px;
        margin: 40px 0 0;
    }
    #admindashboard .btn-register{
        margin: 0 0 40px;
    }
    #admindashboard p{
        font-size: 22px;
        margin: 20px 0;
    }
    #admindashboard .lower{
    padding: 20px 0;
    }
    #admindashboard span{
        font-size: 20px;
    }
  
}






